<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Configuration for Default payment method -->
    <virtualType name="CheckoutCom_Magento2Config" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">CheckoutCom\Magento2\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>
    <type name="CheckoutCom\Magento2\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">CheckoutCom_Magento2Config</argument>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>
    <!-- END Configuration for Default payments -->

    <!-- Configuration for default Apple Pay method -->
    <virtualType name="CheckoutCom_Magento2ConfigApplePay" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">CheckoutCom\Magento2\Model\Ui\ConfigProvider::CODE_APPLE_PAY</argument>
        </arguments>
    </virtualType>
    <type name="CheckoutCom\Magento2\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">CheckoutCom_Magento2ConfigApplePay</argument>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>
    <!-- END Configuration for Apple Pay payments -->

    <!-- Configuration for default Admin method -->
    <virtualType name="CheckoutCom_Magento2ConfigAdmin" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">CheckoutCom\Magento2\Model\Ui\ConfigProvider::CODE_ADMIN</argument>
        </arguments>
    </virtualType>
    <type name="CheckoutCom\Magento2\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">CheckoutCom_Magento2ConfigAdmin</argument>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">1</item>
            </argument>
        </arguments>
    </type>
    <!-- END Configuration for Admin payments -->
    
    <!-- Configuration for Vault payment method -->
    <virtualType name="CheckoutComCreditCardVaultFacade" type="Magento\Vault\Model\Method\Vault">
        <arguments>
            <argument name="config" xsi:type="object">CheckoutComVaultPaymentConfig</argument>
            <argument name="code" xsi:type="const">CheckoutCom\Magento2\Model\Ui\ConfigProvider::CODE_VAULT</argument>
            <argument name="vaultProvider" xsi:type="object">CheckoutCom\Magento2\Model\Methods\DefaultMethod</argument>
        </arguments>
    </virtualType>
    <virtualType name="CheckoutComVaultPaymentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">CheckoutCom\Magento2\Model\Ui\ConfigProvider::CODE_VAULT</argument>
        </arguments>
    </virtualType>
    <!-- END Configuration for Vault payments -->
</config>
